body {
    background-image: url(https://i.imgur.com/W00p5gc.jpg);
    font-family: 'Fira Sans';

}
h1, p {
  color: black;
  font-family: 'Fira Sans';
}
p {
  font: 1.25rem 'Fira Sans';
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
